  /* General setting */

body {
  font-size: 30px;
}

.step {
  width: 1000px;
}

.main-step > h1 {
  font-size: 70px;
  text-decoration: underline;
}

img {
  width: 100%
}

/* Local settings */

.centered {
  text-align: center;
}
